In [4]:
import pandas as pd

ddata = pd.read_csv("ddata.wst.txt", encoding="euc-kr", sep='\t', names=["num","speaker","contents","tags"])

ddata.head()

,num,speaker,contents,tags
0,0,<CO>,어서 오 세 요 코디 봇 입 니다 무엇 을 도와 드릴_까 요,INTRO
1,1,<US>,처음 대학교 들어가 는데 입 을 옷 코디 해 주 세 요,NaN
2,2,<CO>,신입생 코디 에 어울리 게 화사 한 스웨터 를 추천_해 드릴_게 요,EXP_RES_SITUATION;EXP_RES_DESCRIPTION
3,3,<AC>,SW-009,NaN
4,4,<US>,이 옷 에 어울리 는 치마 로 추천_해 주 세 요,USER_SUCCESS

In [5]:
mdata = pd.read_csv("mdata.wst.txt", encoding="euc-kr", sep="\t", names=["id","part","category","exptype","exp"])
mdata.head()

        id part category exptype                             exp
0  BL-001    T       BL       F                   단추 여밈 의 전체 오픈형
1  BL-001    T       BL       F       스탠드 칼라 와 브이넥 네크라인 의 결합 스타일
2  BL-001    T       BL       F               손목 까지 내려오 는 일자형 소매
3  BL-001    T       BL       F                           여유로운 핏
4  BL-001    T       BL       F   어깨 에서 허리 까지 세로 절개 에 풍성 한 러플 장식

In [6]:
print(len(ddata), len(mdata))

154662 64632

In [7]:
# idx = 0
# for i in ddata['speaker']:
#     if i != "<AC>":
#         ddata['contents'] = ddata['contents'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
# ddata.head()

In [8]:
ddata['contents'] = ddata['contents'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

In [9]:
ddata.head()

,num,speaker,contents,tags
0,0,<CO>,어서 오 세 요 코디 봇 입 니다 무엇 을 도와 드릴까 요,INTRO
1,1,<US>,처음 대학교 들어가 는데 입 을 옷 코디 해 주 세 요,NaN
2,2,<CO>,신입생 코디 에 어울리 게 화사 한 스웨터 를 추천해 드릴게 요,EXP_RES_SITUATION;EXP_RES_DESCRIPTION
3,3,<AC>,,NaN
4,4,<US>,이 옷 에 어울리 는 치마 로 추천해 주 세 요,USER_SUCCESS

In [10]:
ddata.drop(["num","speaker","tags"], axis=1, inplace=True)
ddata.head()

                              contents
0     어서 오 세 요 코디 봇 입 니다 무엇 을 도와 드릴까 요
1       처음 대학교 들어가 는데 입 을 옷 코디 해 주 세 요
2  신입생 코디 에 어울리 게 화사 한 스웨터 를 추천해 드릴게 요
3
4           이 옷 에 어울리 는 치마 로 추천해 주 세 요

In [11]:
del_index = ddata[ddata["contents"]==""].index
print(del_index)

Int64Index([     3,      5,      8,     11,     16,     21,     37,     40,
                45,     48,
            ...
            154520, 154537, 154541, 154560, 154577, 154596, 154615, 154634,
            154651, 154654],
           dtype='int64', length=10132)

In [12]:
ddata.drop(del_index, inplace=True)
ddata.head()

                                           contents
0                  어서 오 세 요 코디 봇 입 니다 무엇 을 도와 드릴까 요
1                    처음 대학교 들어가 는데 입 을 옷 코디 해 주 세 요
2               신입생 코디 에 어울리 게 화사 한 스웨터 를 추천해 드릴게 요
4                        이 옷 에 어울리 는 치마 로 추천해 주 세 요
6  고객 님 의 키 사이즈 에 맞추 면 이런 옷 도 잘 어울리 실 것 같은데 어떠 신가 요

In [13]:
lst_ddata = ddata["contents"].values.tolist()
print(lst_ddata[0:5])

['어서 오 세 요 코디 봇 입 니다 무엇 을 도와 드릴까 요', '처음 대학교 들어가 는데 입 을 옷 코디 해 주 세 요', '신입생 코디 에 어울리 게 화사 한 스웨터 를 추천해 드릴게 요', '이 옷 에 어울리 는 치마 로 추천해 주 세 요', '고객 님 의 키 사이즈 에 맞추 면 이런 옷 도 잘 어울리 실 것 같은데 어떠 신가 요']

In [32]:
lst_split_ddata = [sentence.split() for sentence in lst_ddata]
print(lst_split_ddata[0:4])

[['어서', '오', '세', '요', '코디', '봇', '입', '니다', '무엇', '을', '도와', '드릴까', '요'], ['처음', '대학교', '들어가', '는데', '입', '을', '옷', '코디', '해', '주', '세', '요'], ['신입생', '코디', '에', '어울리', '게', '화사', '한', '스웨터', '를', '추천해', '드릴게', '요'], ['이', '옷', '에', '어울리', '는', '치마', '로', '추천해', '주', '세', '요']]

lst_split_ddata = []
for sentence in lst_ddata:
    lst_split_ddata += sentence.split()
print(lst_split_ddata[0:10])

In [16]:
stopwords = []
with open('불용어사전.txt', mode='rt', encoding='utf-8') as f:
    for word in f.readlines():
        word = word.strip()
        stopwords.append(word)

print(stopwords[0:3])

['어찌됐든', '그위에', '게다가']

In [33]:
stopwords = stopwords + ["세","요"]
tk_ddata = [word for word in lst_split_ddata if not word in stopwords]
print(tk_ddata[0:10])

[['어서', '오', '세', '요', '코디', '봇', '입', '니다', '무엇', '을', '도와', '드릴까', '요'], ['처음', '대학교', '들어가', '는데', '입', '을', '옷', '코디', '해', '주', '세', '요'], ['신입생', '코디', '에', '어울리', '게', '화사', '한', '스웨터', '를', '추천해', '드릴게', '요'], ['이', '옷', '에', '어울리', '는', '치마', '로', '추천해', '주', '세', '요'], ['고객', '님', '의', '키', '사이즈', '에', '맞추', '면', '이런', '옷', '도', '잘', '어울리', '실', '것', '같은데', '어떠', '신가', '요'], ['제', '가', '키', '가', '작아서', '짧', '은', '치마', '로', '추천해', '주', '세', '요'], ['상의', '색상', '과', '도', '매칭', '이', '잘', '어울리', '는', '짧', '은', '치마', '입', '니다'], ['어두운', '계열', '은', '없', '나', '요'], ['언밸런스', '한', '컷팅', '으로', '세련미', '를', '돋보이', '게하', '는', '치마', '인데', '마음', '에', '드', '시나', '요'], ['나쁘', '지않', '네', '요', '외투', '도', '추천해', '주', '시', '겠어', '요']]

In [42]:
for word in lst_split_ddata:
    for i in range(len(word)):
        if word[i] not in stopwords:
            tk_ddata.append(word[i])

print(tk_ddata[0:10])

[['어서', '오', '세', '요', '코디', '봇', '입', '니다', '무엇', '을', '도와', '드릴까', '요'], ['처음', '대학교', '들어가', '는데', '입', '을', '옷', '코디', '해', '주', '세', '요'], ['신입생', '코디', '에', '어울리', '게', '화사', '한', '스웨터', '를', '추천해', '드릴게', '요'], ['이', '옷', '에', '어울리', '는', '치마', '로', '추천해', '주', '세', '요'], ['고객', '님', '의', '키', '사이즈', '에', '맞추', '면', '이런', '옷', '도', '잘', '어울리', '실', '것', '같은데', '어떠', '신가', '요'], ['제', '가', '키', '가', '작아서', '짧', '은', '치마', '로', '추천해', '주', '세', '요'], ['상의', '색상', '과', '도', '매칭', '이', '잘', '어울리', '는', '짧', '은', '치마', '입', '니다'], ['어두운', '계열', '은', '없', '나', '요'], ['언밸런스', '한', '컷팅', '으로', '세련미', '를', '돋보이', '게하', '는', '치마', '인데', '마음', '에', '드', '시나', '요'], ['나쁘', '지않', '네', '요', '외투', '도', '추천해', '주', '시', '겠어', '요']]

In [30]:
print(tk_ddata[0:29])

['어서', '코디', '봇', '입', '도와', '드릴까', '처음', '대학교', '들어가', '는데', '입', '옷', '코디', '해', '주', '신입생', '코디', '어울리', '게', '화사', '한', '스웨터', '추천해', '드릴게', '이', '옷', '어울리', '는', '치마']

In [34]:
from gensim.models import Word2Vec
model = Word2Vec(sentences = tk_ddata, size=100, window=10, min_count=0, sg = 1)

맨 앞, sentences는 학습시킬 문장을 입력합니다.

workers : 실행할 병렬 프로세스의 수, 코어수, 주로 4-6사이 지정

size : 각 단어에 대한 임베딩 된 벡터차원 정의, size=2라면 한 문장의 벡터는 [-0.1248574, 0.255778]와 같은 형태를 가지게 된다.

min_count : 단어에 대한 최소 빈도수. min_count=5라면 빈도수 5 이하 무시

window : 문맥 윈도우 수, 양쪽으로 몇 개의 단어까지 고려해서 의미를 파악할 것인지 지정하는 것

sample : 빠른 학습을 위해 정답 단어 라벨에 대한 다운샘플링 비율을 지정하는 것, 보통 0.001이 좋은 성능을 낸다고 한다.

sg : 1이면 skip-gram 방법을 사용하고, 0이면 CBOW 방법을 사용한다.

iter : epoch와 같은 뜻으로 학습 반복 횟수를 지정한다.

In [35]:
model.wv.vectors.shape

(6873, 100)

In [51]:
#word_vec =model.wv
#print(word_vec.vocab)

In [50]:
model.wv.most_similar('대학생')

[('물기', 0.9632668495178223),
 ('나풀거릴', 0.9568157196044922),
 ('농구', 0.9520034193992615),
 ('촌스럽', 0.9515297412872314),
 ('숙이', 0.9504086375236511),
 ('중구난방', 0.9489457011222839),
 ('부끄러워', 0.9483503103256226),
 ('쳐다볼', 0.9478562474250793),
 ('게다가', 0.9473984241485596),
 ('액티비티', 0.9463278651237488)]

In [ ]:
# 워드투벡은 무조건 리스트의 리스트 형태여야 함 ^^.... 문장 간 연관성을 봐주기 때문에^^.... https://m.blog.naver.com/timtaeil/221361106051